<%= form_for([@following, @alert]) do |f| %>
  <% if @alert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alert.errors.count, "error") %> prohibited this alert from being saved:</h2>
      <ul>
        <% @alert.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :price_above %><br />
    <%= f.number_field :price_above %>
  </div>
  <div class="field">
    <%= f.label :price_below %><br />
    <%= f.number_field :price_below %>
  </div>
  <div class="field">
    <%= f.label :percent %><br />
    <%= f.number_field :percent %>
  </div>
  <div class="actions modal-close submit-alert">
    <%= f.submit :class => 'btn cyan accent-4' %>
  </div>
<% end %>

<!-- FORM FOR A NEW ALERT -->
