<%= form_for([follow, @alert]) do |f| %>
  <% if @alert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alert.errors.count, "error") %> prohibited this alert from being saved:</h2>
      <ul>
        <% @alert.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h5><%= follow.coin_name %></h5>
  <div class="field">
    <%= f.label :price_above %><br />
    <%= f.text_field :price_above, :value => number_with_precision(@coin_last, precision: 8) %>
  </div>
  <div class="field">
    <%= f.label :price_below %><br />
    <%= f.text_field :price_below, :value => number_with_precision(@coin_last, precision: 8)%>
  </div>
  <div class="field">
    <%= f.label '24h percent change' %><br />
    <%= f.text_field :percent %>
  </div>
  <div class="actions modal-close submit-alert">
    <%= f.submit data: { disable_with: false }, :class => 'btn cyan accent-4 create-alert' %>
  </div>
<% end %>

<!-- ADD ALERT FORM IN THE PORTFOLIO -->
