<!DOCTYPE html>
<html>
  <head>
    <title>Coinhowl</title>
    <%= csrf_meta_tags %>
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <script src="//www.amcharts.com/lib/3/amstock.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
    <% flash.each do |key, message| %>
      <div class="alert alert-<%= key %>"><%= message %></div>
      <% end %>
    <nav>
  <div class="nav-wrapper blue darken-3">
    <%= image_tag("logo", size: "50x50", class: "menu-logo") %><%= link_to "CoinHowl", root_path, class: "brand-logo" %>
    <ul class="right hide-on-med-and-down">
      <li>
        <div class="input-field col s12">
          <i class="material-icons prefix">search</i>
          <input type="text" id="autocomplete-input" placeholder="search..." class="autocomplete">
        </div>
      </li>
      <% if !current_user %>
      <li><a href="<%= new_user_path %>"><i class="material-icons right">add</i>Signup</a></li>
      <li><a href="<%= new_session_path %>"><i class="material-icons right">account_circle</i>Log In</a></li>
    </ul>
    <% else %>
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="<%= user_path(current_user) %>">User settings</a></li>
      <li class="divider"></li>
      <li><%= link_to "Logout", session_path, method: :delete %></li>
    </ul>
    <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons right">account_circle</i>My Account</a></li>
      <li><a href="<%= following_index_path %>"><i class="material-icons right">account_balance_wallet</i>My Portfolio</a></li>
    <% end %>
  </div>
</nav>
</header>
<main>
    <%= yield %>
  </main>
    <footer class="page-footer blue-grey darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text"><i class="material-icons">adjust</i>&nbsp;CoinHowl</h5>
        <p class="grey-text text-lighten-4">Nam quam dui, convallis in tempor pretium, feugiat nec arcu. Aenean id turpis in felis blandit mollis. Sed eu metus.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Creators</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#">Ari | Linkedin | Github</a></li>
          <li><a class="grey-text text-lighten-3" href="#">Michelle | Linkedin | Github</a></li>
          <li><a class="grey-text text-lighten-3" href="#">Horacio | Linkedin | Github</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 CoinHowl
    </div>
  </div>
</footer>
  </body>
</html>
