<% if !current_user %>
  <%= link_to "Register", new_user_path %> |
  <%= link_to "Login", new_session_path %>
<% else %>
  <%= link_to "Logout", session_path, method: :delete %> |
  <%= link_to "Portfolio", following_index_path %>

<% end %>
<div class="container">
  <div class="row">
    <div class="col s12 m12 l12">
      <table class="striped highlight">
        <thead>
          <tr>
            <th class="center">Icon</th>
            <th class="center">Symbol</th>
            <th class="center">Coin Name</th>
            <th class="center">Price CAD</th>
            <th class="center">Price in BTC</th>
            <th class="center">24 Volume CAD</th>
            <th class="center">Total Supply</th>
            <th class="center">Percentage Change 24hs</th>
          </tr>
        </thead>
        <tbody>
          <%# @cryptocompare_result %>
          <% @response_only_btc.each do |element| %>
          <% cc_symbol = element["MarketName"] %>
          <% cc_symbol = cc_symbol.slice(4..-1) %>
            <tr>
              <% if @cryptocompare_result[cc_symbol] != nil %>
              <% base_cc_url = "https://www.cryptocompare.com" %>
              <% coin_image = @cryptocompare_result[cc_symbol]["ImageUrl"] %>
              <% coin_image_url = "#{base_cc_url}#{coin_image}"  %>
              <td class="center"><%= image_tag(coin_image_url, alt:element["name"], class: "coin-image") %></td>
              <% else %>
              <td class="center">No Image</td>
              <% end %>
              <td class="center"><%= element["CurrencyLong"] %></td>
              <td class="center"><a href="coins/<%= element['MarketName'].slice(4..-1) %>"><%= element["MarketName"] %></a></td>
              <td class="center"><%= number_to_currency(element["Last"], precision: 2) %></td>
              <td class="center"><%= number_with_precision(element["Last"], precision: 8) %></td>
              <td class="center"><%= number_with_precision(element["PrevDay"], precision: 8) %></td>
              <td class="center"><%= element["total_supply"] %></td>
              <% @percentage_change = number_with_precision((( element["Last"] - element["PrevDay"])/element["PrevDay"])*100, precision: 2) %>
              <% if element["PrevDay"].to_f > element["Last"] %>
              <td class="center"><span class="red-text" ><i class="material-icons valign-wrapper red-text">arrow_drop_down</i>
                <%= @percentage_change %>%</span></td>
              <% elsif element["PrevDay"].to_f < element["Last"] %>
              <td class="center"><span class="green-text"><i class="material-icons valign-wrapper green-text">arrow_drop_up</i><%= @percentage_change  %>%</span></td>
              <% else element["PrevDay"].to_f == element["Last"] %>
              <td class="center"><span class="black-text"><i class="material-icons valign-wrapper green-text"></i><%= @percentage_change %>%</span></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
