<div class="container">
  <div class="row">
    <%= render "carousel" %>
  </div>
  <div class="row">
    <div class="col s12 m12 l12">
      <table data-sortable="false">
        <tr>
          <td colspan="4" style="border:none;">
            <h5>
              <strong>BITCOIN MARKETS</strong>
            </h5>
          </td>
          <td colspan="4" style="border:none;">
            <input type="text" id="filterInput" placeholder="Search coins...">
          </td>
        </tr>
      </table>
      <table class="striped highlight sortable-theme-bootstrap" id="coinsIndex" data-sortable="data-sortable">
        <thead>
          <tr>
            <th class="center" id="currency">Currency</th>
            <th class="hide-on-med-and-down text-center" id="market">Market</th>
            <th class="text-right" id="volume">Volume(BTC)</th>
            <th class="text-center" id="change">% Change</th>
            <th class="text-center" id="last">Last Price</th>
            <th class="text-center hide-on-med-and-down" id="high">24hr High</th>
            <th class="text-center hide-on-med-and-down" id="low">24hr Low</th>
            <th class="text-center hide-on-med-and-down" id="added">Added</th>
          </tr>
        </thead>
        <tbody>
          <% @coin_summary.each do |coin| %>
            <tr class="item">
              <td class="coin-title">
                <a href="coins/<%= coin.symbol %>">
                  <img src="<%= @ext_data[coin.symbol][:image_url] %>" class="coin-image">
                  <%= @ext_data[coin.symbol][:full_name] %>
                </a>
              </td>
              <td class="text-center hide-on-med-and-down">
                BTC-<%= coin.symbol %>
              </td>
              <td class="text-right" data-value="<%= coin.volume %>">
                <%= coin.volume %>
              </td>
              <% if coin.prev_day > coin.last_price %>
                <td class="text-right" data-value="<%= coin.pct_change %>">
                  <span class="red-text">
                    <i class="material-icons valign-wrapper red-text">arrow_drop_down</i>
                    <%= coin.pct_change %>
                    %
                  </span>
                </td>
                <% elsif coin.prev_day < coin.last_price %>
                  <td class="text-right" data-value="<%= coin.pct_change %>">
                    <span class="green-text">
                      <i class="material-icons valign-wrapper green-text">arrow_drop_up</i>
                      <%= coin.pct_change %>
                      %
                    </span>
                  </td>
                <% else %>
                  <td class="text-right" data-value="<%= coin.pct_change %>">
                    <i class="material-icons valign-wrapper black-text">drag_handle</i>
                    <%= coin.pct_change %>
                    %
                  </td>
                <% end %>
                <td class="text-right" data-value="<%= coin.last_price %>">
                  <%= coin.last_price %>
                </td>
                <td class="text-right hide-on-med-and-down" data-value="<%= coin.high_24hr %>">
                  <%= coin.high_24hr %>
                </td>
                <td class="text-right hide-on-med-and-down" data-value="<%= coin.low_24hr %>">
                  <%= coin.low_24hr %>
                </td>
                <td class="text-center hide-on-med-and-down">
                  <%= coin.added %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
