<% if !current_user %>
  <%= link_to "Register", new_user_path %> |
  <%= link_to "Login", new_session_path %>
<% else %>
  <%= link_to "Logout", session_path, method: :delete %> |
  <%= link_to "Portfolio", following_index_path %>

<% end %>
<div class="container">
  <div class="row">
    <div class="col s12 m12 l12">
      <table class="striped highlight sortable-theme-bootstrap" id="coinsIndex" data-sortable>
        <thead>
          <tr>
            <th class="center" id="currency">Currency</th>
            <th class="center" id="market">Market</th>
            <th class="center" id="volume">Volume in BTC</th>
            <th class="center" id="change">% Change in 24HR</th>
            <th class="center" id="last">Last Price</th>
            <th class="center" id="high">24hr High</th>
            <th class="center" id="low">24hr Low</th>
            <th class="center" id="added">Added</th>
          </tr>
        </thead>
        <tbody>
          <%# @cryptocompare_result %>
          <% @response_only_btc.each do |element| %>
          <% cc_symbol = element["MarketName"] %>
          <% cc_symbol = cc_symbol.slice(4..-1) %>
            <tr class="item">
              <% if @cryptocompare_result[cc_symbol] != nil %>
              <% base_cc_url = "https://www.cryptocompare.com" %>
              <% coin_image = @cryptocompare_result[cc_symbol]["ImageUrl"] %>
              <% coin_image_url = "#{base_cc_url}#{coin_image}"  %>
              <% end %>
              <% if @cryptocompare_result[cc_symbol] != nil %>
              <td class="coin-title"><a href="coins/<%= element['MarketName'].slice(4..-1) %>"><%= image_tag(coin_image_url, alt:element["name"], class: "coin-image") %>&nbsp;&nbsp;<%= truncate_coin_name(@cryptocompare_result[cc_symbol]["CoinName"]) %></a></td>
              <% elsif element["MarketName"] == 'BTC-BCC' %>
              <% base_cc_url = "https://www.cryptocompare.com" %>
              <% coin_image = @cryptocompare_result['BCH']["ImageUrl"] %>
              <% coin_image_url = "#{base_cc_url}#{coin_image}"  %>
              <td class="coin-title"><a href="coins/BCH"><%= image_tag(coin_image_url, alt:element["name"], class: "coin-image") %>&nbsp;&nbsp;Bitcoin Cash</a></td>
              <% else %>
              <td class="no-image"><a href="coins/<%= element['MarketName'].slice(4..-1) %>"><%= element["MarketName"] %></a>
              <% end %>
              <td class="text-center"><%= element["MarketName"] %></td>
              <td class="text-right"><%= number_with_precision(element["BaseVolume"], precision: 8) %></td>
              <% @percentage_change = number_with_precision((( element["Last"] - element["PrevDay"])/element["PrevDay"])*100, precision: 2) %>
              <% if element["PrevDay"].to_f > element["Last"] %>
              <td class="text-center"><span class="red-text" ><i class="material-icons valign-wrapper red-text">arrow_drop_down</i>
                <%= @percentage_change %>%</span></td>
              <% elsif element["PrevDay"].to_f < element["Last"] %>
              <td class="text-center"><span class="green-text"><i class="material-icons valign-wrapper green-text">arrow_drop_up</i><%= @percentage_change  %>%</span></td>
              <% else element["PrevDay"].to_f == element["Last"] %>
              <td class="text-center"><span class="black-text"><i class="material-icons valign-wrapper black-text">drag_handle</i><%= @percentage_change %>%</span></td>
              <% end %>
              <td class="text-right"><%= number_with_precision(element["Last"], precision: 8) %></td>
              <td class="text-right"><%= number_with_precision(element["High"], precision: 8) %></td>
              <td class="text-right"><%= number_with_precision(element["Low"], precision: 8) %></td>
              <td class="text-right"><%= Date.parse(element["Created"]) %></td>

            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
