<%= javascript_include_tag "coins" %>
<%= link_to "Back to Coins", root_url %>

<div class="container row">
    <h1><%= @coin_symbol %></h1>
      <div class="col s6">
        <%= content_tag "div", id: "chartdiv", data: {chartArray: @data_by_minute_result, coinSymbol: params[:id]} do %>
        <% end %>
      </div>
      <div class="col s6">
          <a id="unfollow-coin"
          class="waves-effect waves-light btn red darken-4 <%= 'hide' if !@is_following %>"
          href="<%= following_path %>"
          data-method="delete" rel="nofollow">
          <i class="material-icons left">star</i>Unfollow</a>
          <a id="follow-coin"
          class="waves-effect waves-light btn green darken-4 <%= 'hide' if @is_following %>"
          href="<%= following_path %>"
          data-method="put" rel="nofollow">
          <i class="material-icons left">star</i>Follow</a></a>
      </div>
</div>
