<%= javascript_include_tag "coins" %>

<!-- GRAPH -->
<div class="container row">
  <div class="col s8">
    <%= content_tag "div", id: "chartdiv", data: {chartArray: @data_by_minute_result, coinSymbol: params[:id]} do %>
    <% end %>
  </div>

  <!-- MAIN COIN INFO SECTION -->
  <div class="col s4">
    <div class="row">
      <div class="col s4">
        <div class="head-info valign-wrapper">
          <h3 class="js-coin-symbol"><%= @coin_symbol %></h3>
        </div>
      </div>
      <div class="col s4">
        <div class="head-info valign-wrapper">
          <!-- FOLLOW/UNFOLLOW BUTTON -->
          <div class="center-align">
            <a id="unfollow-coin"
              class="waves-effect waves-light btn red darken-4 <%= 'hide' if !@is_following %>"
              href="<%= following_path %>"
              data-method="delete" rel="nofollow">
              Unfollow
            </a>
            <a id="follow-coin"
              class="waves-effect waves-light btn green darken-4 <%= 'hide' if @is_following %>"
              href="<%= following_path %>"
              data-method="put" rel="nofollow">Follow
            </a>
          </div>
        </div>
      </div>

      <div class="col s4">
        <div id="alert-container" class="head-info valign-wrapper text-right">
          <!-- ALERT BUTTON-->
          <a id="alert-icon"
            class="btn btn-floating btn-large cyan accent-4 waves-effect waves-light btn modal-trigger <%= 'hide' if !@is_following %>"
            href="#modal1" action="#modal1">
          <i class="material-icons left">add_alert</i></a>
          <div id="modal1" class="modal  text-left">
            <div class="modal-content alert-form">
              <% if @is_following %>
                <%= render 'alerts/form', alert: @alert, method: :post %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

    </div>

    <table id="show-coin-table" class="bordered">
      <tbody class='coin-prices-table'>
        <tr>
          <!-- LAST -->
          <% if @coin_last < @prev_day %>
            <td><p class="coin-info red-text">LAST:</p></td>
            <td><p class="coin-info" data-field="Last">&#579; <%= number_with_precision(@coin_last, precision: 8) %></p></td>
            <td class="text-center"><span class="red-text" ><i class="material-icons valign-wrapper red-text">arrow_drop_down</i></span></td>
          <% elsif @coin_last > @prev_day %>
            <td><p class="coin-info green-text">LAST:</p></td>
            <td><p class="coin-info" data-field="Last">&#579; <%= number_with_precision(@coin_last, precision: 8) %></p></td>
            <td class="coin-info text-center"><span class="green-text"><i class="material-icons valign-wrapper green-text">arrow_drop_up</i></span></td>
          <% else %>
            <td><p class="coin-info">LAST:</p></td>
            <td><p class="coin-info" data-field="Last">&#579; <%= number_with_precision(@coin_last, precision: 8) %></p></td>
            <td class="text-center"><span class="black-text"><i class="material-icons valign-wrapper black-text">drag_handle</i></span></td>
          <% end %>
        </tr>
        <tr>
          <!-- BASE VOL -->
          <td><p class="coin-info">VOL:</p></td>
          <td><p class="coin-info" data-field="BaseVolume">&#579; <span><%= number_with_precision(@coin_base_volume, precision: 8) %></p></td>
          <td></td>
        </tr>
        <tr>
          <!-- BID -->
          <td><p class="coin-info">BID:</p></td>
          <td><p class="coin-info" data-field="Bid">&#579; <%= number_with_precision(@coin_bid, precision: 8) %></p></td>
          <td></td>
        </tr>
        <tr>
          <!-- ASK -->
          <td><p class="coin-info">ASK:</p></td>
          <td><p class="coin-info" data-field="Ask">&#579; <%= number_with_precision(@coin_ask, precision: 8) %></p></td>
          <td></td>
        </tr>
        <tr>
          <!-- HIGH -->
          <td><p class="coin-info">HIGH:</p></td>
          <td><p class="coin-info" data-field="High">&#579; <%= number_with_precision(@coin_high, precision: 8) %></p></td>
          <td></td>
        </tr>
        <tr>
          <!-- LOW -->
          <td><p class="coin-info">LOW:</p></td>
          <td><p class="coin-info" data-field="Low">&#579; <%= number_with_precision(@coin_low, precision: 8) %></p></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <!-- TIMESTAMP -->
    <p class="center-align" id="last-updated"></p>
  </div>
</div>
