<div class="container row">
    <h1><%= @coin_symbol %></h1>
      <div class="col s6">
        <%= content_tag "div", id: "chartdiv", data: {chartArray: @data_by_minute_result, coinSymbol: params[:id]} do %>
        <% end %>
      </div>
      <div class="col s6">
        <% if !@is_following %>
          <p>Add <%= @coin_symbol %> to your portfolio!</p>
          <a class="waves-effect waves-light btn blue darken-4" href="<%= following_path %>" data-method="put" rel="nofollow"><i class="material-icons left">star</i>Follow</a></a>
        <% else %>
          <p>Remove <%= @coin_symbol %> from your portfolio.</p>
          <a class="waves-effect waves-light btn blue darken-4" href="<%= following_path %>" data-method="delete" rel="nofollow"><i class="material-icons left">star</i>Unfollow</a>
        <% end %>
      </div>
</div>
